In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
veriler=pd.read_csv('C:/Users/mert_/Desktop/uygulama_dersleri/Veriler/heart_disease.csv')

In [51]:
veriler.head()

,site,age,is_male,chest_pain,rest_blood_press,cholesterol,high_blood_sugar,rest_ecg,max_heart_rate,exer_angina,ST_depression,Peak_ST_seg,major_vessels,thal,has_heart_disease
0,cleve,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,cleve,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,cleve,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,cleve,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,cleve,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [52]:
veriler.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   site               920 non-null    object
 1   age                920 non-null    int64
 2   is_male            920 non-null    int64
 3   chest_pain         920 non-null    int64
 4   rest_blood_press   920 non-null    object
 5   cholesterol        920 non-null    object
 6   high_blood_sugar   920 non-null    object
 7   rest_ecg           920 non-null    object
 8   max_heart_rate     920 non-null    object
 9   exer_angina        920 non-null    object
 10  ST_depression      920 non-null    object
 11  Peak_ST_seg        920 non-null    object
 12  major_vessels      920 non-null    object
 13  thal               920 non-null    object
 14  has_heart_disease  920 non-null    int64
dtypes: int64(4), object(11)
memory usage: 107.9+ KB

In [53]:
veriler.max_heart_rate.unique()

array(['150', '108', '129', '187', '172', '178', '160', '163', '147',
       '155', '148', '153', '142', '173', '162', '174', '168', '139',
       '171', '144', '132', '158', '114', '151', '161', '179', '120',
       '112', '137', '157', '169', '165', '123', '128', '152', '140',
       '188', '109', '125', '131', '170', '113', '99', '177', '141',
       '180', '111', '143', '182', '156', '115', '149', '145', '146',
       '175', '186', '185', '159', '130', '190', '136', '97', '127',
       '154', '133', '126', '202', '103', '166', '164', '184', '124',
       '122', '96', '138', '88', '105', '194', '195', '106', '167', '95',
       '192', '117', '121', '116', '71', '118', '181', '134', '90', '176',
       '110', '92', '104', '60', '82', '135', '83', '98', '100', '94',
       '119', '63', '70', '77', '72', '78', '86', '93', '67', '?', '84',
       '80', '107', '102', '69', '73', '87', '91'], dtype=object)

In [54]:
veriler.max_heart_rate.replace(to_replace='?',value=0,inplace=True)

In [59]:
veriler.max_heart_rate=veriler.max_heart_rate.astype('int64')

In [62]:
type(veriler.max_heart_rate[0])

numpy.int64